.navbar-container {
  background-color: #322329 !important;
  color: #88c8eb !important;

  .logo {
    color: #88c8eb !important;
    text-decoration: none;
    font-weight: 800;
  }
  .routeName {
    color: #88c8eb !important;
    text-decoration: none;
  }
}
