.table-container {
  margin-top: 1em !important;
  background-color: #322329;
  color: white !important;

  .tableCell {
    color: white !important;

  }

  .action {
    text-decoration: none;
    color: orange !important;
  }
}
